#----------------------------------------------------------------
#-- WordPress ---------------------------------------------------
#----------------------------------------------------------------

WP_DOMAIN=wordpress.local
WP_SITE_TITLE=WordPress Local Development
WP_USER=admin
WP_PASS=password
WP_EMAIL=admin@wordpress.local
WP_MULTISITE=false
WP_MYSQL_DATABASE=wordpress
WP_MYSQL_PASSWORD=wordpress
WP_MYSQL_ROOT_PASSWORD=wordpress
WP_MYSQL_USER=wordpress
WP_AUTH_KEY=kX7Yu03TCTi3lBN-*eVU|Cduu&Z+s,`rQa_,C!AnX6=M=Z2M:*V8Ksp2rXDOU38H
WP_SECURE_AUTH_KEY=$MJofkzkQ&py-ei:hqDBt$-kDhtkd0xZB&l^va80AJgpe<ue$sgugdZ}CtcoRt@y
WP_LOGGED_IN_KEY=o8kX9<|v=?iI|L[S_KwQyoj6kql_=^FhxuKxqxLh`)Za]Eir7HTy}73oTz8J)Fof
WP_NONCE_KEY=/*zu0Cp-b6|$(70ZPWawtd21bG>9HuH;-(O)0-$e}f>sjU2D`DU*j;JpwqaCLe7O
WP_AUTH_SALT=}`}ZF-&D}SsdhLS}Ool5>07b3|Ok|{e9)0<aGsZcjv_rQ|ToT4qxiteOHT-?+f9^
WP_SECURE_AUTH_SALT=(;(MCchpB=`XP`%>=DJrS]xKbm2x<zzsl_Z*S2n2v2pq@.iqIoc?Ijp{3UpzF.NW
WP_LOGGED_IN_SALT=7CnMl`tegHE|FxL*?fW,s)$oga{*2*vg:F&_28+m/8Fk*-*J@=W$+7.9R@p$8C/v
WP_NONCE_SALT=Vg$F[18{.uJAg@r$T})}9H~em6Xau6ofbgfQ}S.=r^@C<~06D]M9ize~66gc%~~m

#----------------------------------------------------------------
#-- xDebug Configuration ----------------------------------------
#
# Note:
# Changing these will require you to rebuild your Docker image.
# `make build`
#
# Note:
# There is a known Docker for Mac issue where the loopback address
# does not work properly. This could result in your host IP not
# working either.
#
# The follow creates a new loopback alias for 10.254.254.254 that
# can be used for PHP_XDEBUG_REMOTE_PORT.
#
#   `sudo ifconfig lo0 alias 10.254.254.254 netmask 255.255.255.255 up`
#
#----------------------------------------------------------------

PHP_XDEBUG_DEFAULT_ENABLE=1
PHP_XDEBUG_REMOTE_ENABLE=1
PHP_XDEBUG_REMOTE_HOST=127.0.0.1
PHP_XDEBUG_REMOTE_PORT=9000
PHP_XDEBUG_REMOTE_AUTO_START=1
PHP_XDEBUG_REMOTE_CONNECT_BACK=1
PHP_XDEBUG_IDEKEY=docker
PHP_XDEBUG_PROFILER_ENABLE=0
PHP_XDEBUG_PROFILER_OUTPUT_DIR=/tmp