.env
.vscode
.idea
data
wordpress/core
wordpress/vendor

# Ignore wp-content except for exclusions.
wordpress/wp-content/plugins/*
wordpress/wp-content/themes/*
wordpress/wp-content/uploads/*
wordpress/wp-content/mu-plugins/*

# Don't ignore these.
# If you're developing a theme or plugin, add it as an exlusions.
# !wordpress/wp-content/plugins/example-plugin
# !wordpress/wp-content/themes/example-theme
# !wordpress/wp-content/mu-plugins/example-plugin.php