.env
.vscode
.idea
data
wordpress/core
wordpress/vendor

# Ignore all content except for exlusions.
wordpress/wp-content/*

# Don't ignore these.
# If you're developing a theme or plugin, ass it as an exlusions.
!wordpress/wp-content/plugins/.gitkeep
!wordpress/wp-content/themes/.gitkeep
!wordpress/wp-content/uploads/.gitkeep